<section class="login-container">
    <div class="login-form-container">
        <div class="login-title-container">
            <h3 class="login-title">Bienvenido de vuelta!</h3>
            <h5 class="login-subtitle">Inicia sesión en tu cuenta</h5>
        </div>
        <div class="login-form">
            <form  [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
                <div class="form-field">
                    <label>Usuario*</label>
                    <input
                    formControlName="user"
                    type="text"
                    placeholder="Ingresa tu nombre de usuario">
                    <!-- manejo de errores -->
                    <div *ngIf="userField?.errors && userField?.touched">
                        <p class="error-field" *ngIf="userField?.hasError('required')">Este campo es obligatotio</p>
                        <p class="error-field" *ngIf="userField?.hasError('maxlength')">Exedio el número de caracteres</p>
                    </div>
                </div>
                <div class="form-field">
                    <label>Contraseña*</label>
                    <input
                    formControlName="password"
                    type="password"
                    placeholder="Ingresa tu contraseña de usuario">

                    <!-- manejo de errores -->
                    <div *ngIf="passwordField?.errors && passwordField?.touched">
                        <p class="error-field" *ngIf="passwordField?.hasError('required')">Este campo es obligatotio</p>
                        <p class="error-field" *ngIf="passwordField?.hasError('pattern')">Este campo debe tener letras y numeros</p>
                    </div>
                </div>
                <div class="form-button">
                    <button
                    [disabled]="loginForm.invalid"
                    [ngClass]="{ 'login-btn': loginForm.invalid}"
                    type="submit">Ingresar</button>
                </div>
            </form>
        </div>
        <div class="register-container">
            <p class="register-text">¿No tienes cuenta aún? <span>Registrate aqui</span></p>
        </div>
    </div>
</section>